@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@1,500&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

body {
    margin: 0;

    background-color: black;
}

* {
    user-select: none;
}

#section-1 {
    position: fixed;
    width: 100vw;
    height: 100vh;

    #background-s1 {
        display: none;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        //will-change: transform;
    }
    
    #title-container-s1 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        color: white;

        //will-change: transform;
        
        

        #title-s1 {
            font-size: 60px;
            font-family: 'Montserrat';
            font-weight: 100;
        }
    }

    #background-overlay-s1 {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform-origin: 0 100%;
        // background: radial-gradient(circle at bottom, transparent, black 40%)
        background: linear-gradient(220deg, black 90%, transparent)
    }

    #next-container-s1 {
        position: fixed;
        bottom: 100px;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        
        animation: show-next-container 0.5s;

        button {
            padding: 16px;

            color: black;
            background: #5fdb6e;
            font-size: 40px;
            font-family: 'Climate Crisis';
            cursor: pointer;
            border: 5px solid black;
            transition: 0.5s transform;

            span {
                font-style: italic;
            }
        }

        button:active {
            transform: scale(0.75);
        }

        button:focus {
            outline: none;
        }

        @keyframes show-next-container {
            from {
                transform: translateY(200px);
            }
        }
        
    }
}

#section-2 {
    position: fixed;
    display: none;
    width: 100vw;
    height: 100vh;

    perspective: 1000px;

    #title-container-s2 {
        position: fixed;
        top: 40%;
        left: 50px;
        
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: white;

        transform-origin: 100% 50%;

        #title-s2 {
            margin: 0;

            font-size: 90px;   
            animation: title-s2-pertama-tampil 1s;
        }
        #title-kr-s2 {
            margin: 0;

            font-size: 40px;
            font-weight: 100;
            animation: title-s2-pertama-tampil 1.5s;
        }

        @keyframes title-s2-pertama-tampil {
            from {
                opacity: 0;
                translate: 400px;
            }
        }
        @keyframes title-kr-s2-pertama-tampil {
            from {
                opacity: 0;
                translate: 800px;
            }
        }
    }

    #line-container-s2 {
        position: fixed;
        top: 20%;

        #line-1-s2 {
            position: absolute;
            height: 40px;
            width: 200px;
            background: red;
            box-shadow: 0 0 20px red;
            animation: abc 2s;
        }

        @keyframes abc {
            to {
                width: 800px;
            }
        }
    }

    #background-container-s2 {
        display: none;
        position: fixed;
        right: 0;
        width: 100%;
        height: 100%;

        #side-s2 {
            position: absolute;
            top: 0;
            left: 0;
            width: 390px;
            height: 100%;

            background: url(Lingkaran.svg), linear-gradient(to bottom, #ac3636,#481d1d);
            background-repeat: no-repeat;
            box-shadow: -10px 0 10px #00000075 inset;
        }

        #decoration-container-s2 {
            position: absolute;
            top: 0;
            left: 390px;
            width: 40px;
            height: 100%;

            #decoration-1-s2 {
                width: 100%;
                height: 100px;
    
                background: #ee1f34;
            }
    
            #decoration-2-s2 {
                width: 100%;
                height: 100px;
    
                background: #26225c;
            }
    
            #decoration-3-s2 {
                width: 100%;
                height: 100%;
    
                background: gray;
            }
        }

        #content-container-s2 {
            position: fixed;
            top: 0;
            left: 430px;
            width: calc(100% + 1000px);
            height: 100%;

            background: white;

            #kertas-s2 {
                display: none;
                position: absolute;
                width: 700px;
                padding: 16px;

                transform-origin: 100% 100%;

                background: url(marjan-blan-marjanblan-_kUxT8WkoeY-unsplash.jpg);
                box-shadow: 0 10px 20px #0009;
                font-size: 30px;
                font-family: 'Montserrat';
            }

            #content-side-container-s2 {
                position: absolute;
                top: 0;
                left: 936px;
                width: 100%;
                height: 100%;

                h1 {
                    position: absolute;
                    left: 50px;
                    margin: 0;

                    background: linear-gradient(#ee1f34, #26225c);
                    background-clip: text;
                    color: transparent;
                    font-size: 140px;
                    font-family: 'Montserrat';
                }

                #content-side-line-s2 {
                    position: absolute;
                    left: 330px;
                    
                }

                #content-side-chart-container-s2 {
                    display: none;
                    position: absolute;
                    left: 650px;
                    width: 300px;
                    height: 100%;
                    padding: 16px;
                    box-sizing: border-box;
                    flex-direction: column;

                    @keyframes show-content-side-chart {
                        from {
                            transform: scale(0);
                        }
                        to {
                            transform: scale(1);
                        }
                    }
    
                    #content-side-1-s2 {
                        animation: show-content-side-chart 1s;
                    }
    
                    #content-side-2-s2 {
                        animation: show-content-side-chart 1.5s;
                    }
    
                    #content-side-3-s2 {
                        animation: show-content-side-chart 2s;
                    }
                }

                img {
                    height: 100%;
                }
            }
        }
    }
}